<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">
<head>
<title>Tututor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Eco Power Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="../css/style2.css" type="text/css" rel="stylesheet" media="all">
<link href="../css/font-awesome.css" rel="stylesheet">		<!-- font-awesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- //Custom Theme files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body>
	<!-- banner -->
	<div class="agileits-banner about-w3lsbnr">
		<div class="bnr-agileinfo">
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a href="index2.ejs">Tututor<span>tutorias online</span> </a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-right">
							<ul class="nav navbar">
								<li><a href="index2.ejs">Inicio</a></li>
								<li><a href="nosotros.html">Nosotros</a></li>
								<li><a href="gallery.html">Galeria</a></li>
								<li><a href="contact.html">Contactanos</a></li>
								<li><a href="perfil.ejs" class="active">Mi Perfil</a></li>
								<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cerrar">Cerrar Sesion</button></li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div></div>
			</div>
			<!-- //navigation -->
			<!-- banner-text -->
			<div class="banner-w3text about-w3lsbnr-text">
				<div class="container">
					<% if (nombre) { %>
							<h2><%= nombre %></h2>
					<% } %>
				</div>
			</div> <br>
			<!-- //banner-text -->
		</div>
	</div>
	<!-- //banner -->

	<!-- about -->
	<div class="about agileinfo">
		<div class="container">
				<h3 class="agileits-title">MI PERFIL</h3>
			<div class="col-sm-6 about-w3right">
				<% if (foto) { %>
						<img src="<%= foto %>" class="img-responsive" alt=""//>
				<% } %>
				<div class="infoUsuario">
					<% if (info) { %>
							<p>Nombre: <strong><%= info.name %></strong></p><br>
							<p>Correo: <strong><%= info.correo %></strong></p><br>
							<p>Carnet: <strong><%= info.carnet %></strong></p><br>
					<% } %>
					<ul>
						<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Cambiar Foto de Perfil</button></li>
						<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cambiarI">Cambiar contraseña</button></li>
						<% if (info.id == "estudiante") { %>
						<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#preguntaN">Hacer una pregunta</button></li>
						<% } %>
					</ul>

				</div>
			</div>
			<div class="col-sm-6 about-w3left">
				<% if (info.id == "tutor") { %>
				<% for(var i = 0; i < preguntas.length; ++i) { %>
					<li>
						<div class="well w3l">
							<h4>pregunta <%= i+1 %></h4>
							<h3>
								<label><%= preguntas[i].Titulo %></label><br>
								<span class="label label-primary"><%= preguntas[i].tema %></span>

							</h3> <br>
							<div class="col-sm-9"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1"><%= preguntas[i].contexto %></textarea></div>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#" style="margin-top: 0.4em">Responder</button>
						</div>
					</li>
				<% } %>
			<% } %>
			<% if (info.id == "estudiante") { %>
				<li>
					<div class="well w3l">
						<h4>Hola <%= info.name %></h4>
						<h3>
							<p>Bienvenido a tu perfil de TUTUTOR, gracias por unirte a nuestra gran familia, esperamos que puedas disfrutar y aprovechar todos nuestros servicios.</p>
							<br><label> Lista de monitores:</label>
						</h3> <br>

					</div>
				</li>
		<% } %>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>


	<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cambio de Foto de perfil</h4>
      </div>
      <div class="modal-body">
				<h3>Seleccione la foto por la cual desea cambiar:</h3><br>
				<form action="/foto" enctype="multipart/form-data" method="post">
						<input type="file" name="upload" multiple>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Upload" class="btn btn-default" >Cambiar</button>
      </div>
				</form>
    </div>
  </div>
</div>


<div id="cambiarI" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cambiar contraseña</h4>
      </div>
      <div class="modal-body">
				<h3>Seleccione la foto por la cual desea cambiar:</h3><br>
				<form action="/cambiar" method="POST" >
					<div class="input">
						<p>Contraseña Antigua:</p>
						<i class="fa fa-unlock-alt" aria-hidden="true"></i> <input id="password1" type="password" name="contraA" class="password" placeholder="Ingrese la antigua contraseña" required=""/>
					</div>
					<div class="input">
						<p>Nueva Contraseña:</p>
						<i class="fa fa-unlock-alt" aria-hidden="true"></i> <input id="password1" type="password" name="nuevaC" class="password" placeholder="Ingrese la nueva contraseña" required=""/>
					</div>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Upload" class="btn btn-default" >Cambiar</button>
      </div>
			</form>
		</div>
	</div>
</div>

<div id="cerrar" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form action="/cerrar" method="POST">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Cerrar Sesion</h4>
			</div>
			<div class="modal-body">
				<h3>¿Esta seguro que desea cerrar sesion?</h3><br>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-default">SI</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
			</div>
			</form>
		</div>
	</div>
</div>

<div id="preguntaN" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form action="/preguntaN" method="POST">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Formular pregunta</h4>
			</div>
			<div class="modal-body">
				<h3>Rellena los campos para formular tu pregunta:</h3><br>
				<i class="fa fa-comment" aria-hidden="true"></i> <input id="nombreP" type="text" name="nombreP" class="password" placeholder="Ingrese su nombre" required=""/>
				<select name="tema" required="">
				 	<option value="compiladores">Compiladores</option>
				 	<option value="matematicas1">Matematicas 1</option>
				 	<option value="finanzas">Finanzas</option>
				 	<option value="ingenieriaDeSoftware">Ingenieria de Software</option>
				</select><br><br>
				<b><h4>Ingrese su pregunta completamente:</h4></b>
				<textarea rows="4" cols="45" maxlength="120" name="textoP" placeholder="Ingrese su pregunta con todas sus especificaciones" required=""></textarea><br>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-default">Formular</button>
			</div>
			</form>
		</div>
	</div>
</div>

	<!-- //about -->
	<!-- about-team -->

	<!-- //about-team -->
	<!-- footer start here -->
	<div class="footer-agile">
		<div class="container">
			<div class="footer-top-agileinfo">
				<div class="social-icon">
					<a href="#" class="social-button twit"><i class="fa fa-twitter"></i></a>
					<a href="#" class="social-button fb"><i class="fa fa-facebook"></i></a>
					<a href="#" class="social-button ggl"><i class="fa fa-google-plus"></i></a>
					<p>© Eafit 2017 TuTuTor Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
				</div>
			</div>
			<div class="footer-btm-agileinfo">
				<div class="col-md-3 col-xs-3 footer-grid">
					<h3>Informacion</h3>
					<ul>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Acerca de nosotros</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Nuestro manual</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-menu-right"></i>Eafit</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-xs-3 footer-grid w3social">
					<h3>Navegacion</h3>
					<ul>
						<li><a href="index2.ejs">Inicio</a></li>
						<li><a href="about.html">Nosotros</a></li>
						<li><a href="gallery.html">Galeria</a></li>
						<li><a href="contact.html">Contactos</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer end here -->
	<!-- js -->
	<script src="../js/jquery-2.2.3.min.js"></script>
			<script src="../js/bootstrap.js"></script>
	<script src="../js/jarallax.js"></script>
	<script src="../js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //js -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="../js/move-top.js"></script>
	<script type="text/javascript" src="../js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<script>
function cuenta(){
			document.getElementById('preguntaN').caracteres.value = document.getElementById('preguntaN').textoP.value.length;
}
</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="..js/bootstrap.js"></script>
		<script src="../js/bootstrap.js"></script>
</body>
</html>
